# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_weather_df = pd.read_csv('cities_weather_df.csv')
city_weather_df.head()

,Unnamed: 0,latitude,longitude,temperature,humidity,cloudiness,wind_speed
0,1,-90.0,-180.0,-51.21,82,11,11.81
1,3,-90.0,-167.2,-51.21,82,11,11.79
2,8,-90.0,-135.2,-51.21,82,11,11.79
3,10,-90.0,-122.4,-51.21,82,11,11.81
4,15,-90.0,-90.4,-51.21,82,11,11.79

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
gmaps.configure(api_key=gkey)

cities = city_weather_df[['latitude','longitude']]
humidity = city_weather_df['humidity']

In [30]:
fig = gmaps.figure(zoom_level=2, center=(0,0))
heat_layer = gmaps.heatmap_layer(cities, weights=humidity, 
                                 dissipating=False, max_intensity=130, point_radius=7, opacity=0.4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [37]:
ideal_cities_df = city_weather_df.loc[(city_weather_df['temperature'] > 60) &
                                        (city_weather_df['temperature'] < 100) &
                                        (city_weather_df['humidity'] < 60) &
                                        (city_weather_df['cloudiness'] < 1) &
                                        (city_weather_df['wind_speed'] < 10)
                                     ]
ideal_cities_df

,Unnamed: 0,latitude,longitude,temperature,humidity,cloudiness,wind_speed
102,565,-25.2,146.4,83.43,15,0,4.88
351,947,25.2,37.6,76.17,30,0,2.64
355,951,25.2,63.2,78.71,30,0,7.61
392,1005,32.4,44.0,71.28,40,0,5.14
394,1007,32.4,56.8,62.98,17,0,5.37
395,1008,32.4,63.2,60.84,10,0,4.63
419,1041,39.6,-90.4,64.35,56,0,5.06

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure